h1 {
    font-size: 20px;
    color: #3377ff;
    
}
a {
    color: #3366aa;
}
a:hover {
    color: #3388ff;
}
header {
    display: flex;
    justify-content: space-around;
}
h2 {
    font-weight: normal;
    font-size: 18px;
    width: 400px;
    background: #eeeeee;
    color: #4477cc;
    border: 1px solid #aaaaaa;
    padding: 20px;
    border-radius: 40px 10px;
}
div {
    display: flex;
    justify-content: center;
}
img {
float: left;
}